<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Kata
			{% endblock %}
		</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		{% block stylesheets %}
			<!-- Utilise un chemin basé sur le chemin racine du projet -->
			<link rel="stylesheet" href="{{ asset('assets/css/header.css') }}">
			<link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
			<link rel="stylesheet" href="{{ asset('assets/css/my-medias.css') }}">
		{% endblock %}
	</head>
	<body>
		{% include 'header.html.twig' %}

		{% block body %}{% endblock %}

		<!-- Assure-toi d'inclure le footer si nécessaire -->
		{# {% include 'footer.html.twig' %} #}

		{% block javascripts %}
			<script src="{{ asset('assets/js/header.js') }}" defer></script>
			<script src="{{ asset('assets/js/modal.js') }}" defer></script>
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</body>
</html>
