<nav>
	<ul class="nav">
		<li class="logo">🎴 Kata Archive Books ✿</li>

		<li>
			<a id="link-home" data-url="{{ path('homepage') }}" href="{{ path('homepage') }}">Home
			</a>
		</li>
		{% if app.user %}

			<li>
				<a id="link-logout" href="{{path('app_logout')}}">Logout</a>
			</li>
		{% else %}
			<li>
				<a id="link-login" data-url="{{ path('app_login') }}" href="{{ path('app_login') }}">Login
				</a>
			</li>
		{% endif %}
		{# <li id="link-login" data-url="{{ path('logine') }}">Login</li> #}
		{# <li id="link-login" data-url="{{ path('app_login') }}">Login</li> #}
	</li>
	<li>
		<a id="link-admin" data-url="{{ path('admin') }} " href="{{ path('admin') }}">Admin
		</a>
	</li>

</ul></nav>
